* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #252525;
  color: #ddd;
}

html,
body,
#app {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: column;
}
#app .container {
  flex-grow: 1;
  overflow: auto;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 1em;
}
.header > .left,
.header > .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header > * > * {
  margin: 0.25em;
}
.header > .left > * {
  width: fit-content;
}
.header > .left > button {
  padding: 0.5em;
}

.header .slider {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}
.header .slider:focus {
  outline: none;
}
.header .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 2em;
  width: 1em;
  border-radius: 0.3em;
  background: #ccc;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  transform: translateY(20%);
}
.header .slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 2em;
  width: 1em;
  border-radius: 0.3em;
  background: #ccc;
  cursor: pointer;
  transform: translateY(20%);
}
.header .slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 2em;
  width: 1em;
  border-radius: 0.3em;
  background: #ccc;
  cursor: pointer;
  transform: translateY(20%);
}
.header .slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.7em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #888;
  border-radius: 1.3px;
  border: none;
}
.header .slider::-moz-range-track {
  width: 100%;
  height: 0.7em;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #888;
  border-radius: 1.3px;
  border: none;
}
.header .slider::-ms-track {
  width: 100%;
  height: 0.7em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.header .slider::-ms-fill-lower {
  background: #888;
  border: none;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.header .slider::-ms-fill-upper {
  background: #888;
  border: none;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.header .slider:focus::-webkit-slider-runnable-track {
  background: #aaa;
}
.header .slider:focus::-ms-fill-lower {
  background: #aaa;
}
.header .slider:focus::-ms-fill-upper {
  background: #aaa;
}

.measures {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* MEASURE */
.measure {
  min-width: 10em;
  width: fit-content;
  position: relative;
  display: flex;
}

/* NOTE */
.note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 10em;
  height: 100%;
}

.note-wrapper .ocarina-viewer {
  position: relative;
  aspect-ratio: 330/146;
  width: 10em;
  height: auto;
  margin: 1em 0.25em;
  z-index: 2;
}
.note-wrapper .ocarina-viewer > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.note-wrapper .ocarina-viewer > .img {
  background-image: url(note.png);
  background-size: 100% 100%;
  filter: invert(100%);
}
.note-wrapper .ocarina-viewer > svg > .finger {
  fill: #f00;
  stroke-width: 0;
}
.note-wrapper .ocarina-viewer > p.label {
  display: block;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0.2em;
  left: unset;
  right: 0.5em;
  margin: 0;
  font-weight: bold;
  font-size: 1.3em;
}

.note-wrapper .silence-wrapper {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.note-wrapper .silence-wrapper p {
  margin-bottom: 0;
}

.note-wrapper .measure-buttons {
  position: relative;
  width: 100%;
  height: calc(1.5em * 7);
  justify-self: flex-end;
}
.measure-buttons .bg {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #bbb;
  z-index: 2;
}
.note-wrapper:last-child .measure-buttons .bg {
  border-right: thin solid #000;
}
.measure-buttons .bg .row {
  display: block;
  width: 100%;
  height: 1.5em;
}
.measure-buttons .bg .row:not(:last-child) {
  border-bottom: thin solid #000;
}

.measure-buttons .note {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 1;
  width: 1.1em;
  z-index: 3;
}
.measure-buttons .note:after {
  content: "";
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: -10%;
  right: -10%;
  border-radius: 50% 50% 50% 50%;
  background-color: #000;
  transform: rotate(-35deg);
}
.measure-buttons .note.x4:after {
  border: 0.12em solid #000;
  border-left: 0.35em solid #000;
  border-right: 0.35em solid #000;
  background-color: rgba(0, 0, 0, 0);
  transform: rotate(0deg);
}
.measure-buttons .note.x2:after {
  border: 1px solid #000;
  border-top: 0.2em solid #000;
  border-bottom: 0.2em solid #000;
  background-color: rgba(0, 0, 0, 0);
}

.measure-buttons .note .bar {
  display: block;
  position: absolute;
  bottom: 50%;
  right: -7%;
  width: 1px;
  height: 3.5em;
  border-left: thin solid #000;
}
.measure-buttons .note .bar.invert {
  transform: rotate(180deg);
  bottom: unset;
  top: 50%;
  left: -7%;
}

.measure-buttons .note .bar .sub-bar {
  display: block;
  width: 1.1em;
  height: 0.27em;
  background-color: #000;
  margin-bottom: 0.27em;
}

.measure-buttons .note .sharp:after {
  content: "\266F";
  position: absolute;
  top: 0%;
  left: -70%;
  color: #000;
  font-size: 1.2em;
}

.measure-buttons .silence-sign {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  color: #000;
  z-index: 3;
}

.measure-buttons .toggle-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 4;
}

.measure-buttons .change-note {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.measure-buttons .change-note > *,
.measure-buttons .add-note {
  position: relative;
  margin: 0.1em 0;
  aspect-ratio: 1;
  width: 2rem;
  border: thin solid #000;
  border-radius: 25%;
  background-color: #bbb;
  opacity: 0.1;
  transition: opacity 0.2s ease;
  cursor: pointer;
  z-index: 5;
}
.measure-buttons .add-note {
  position: absolute;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.measure-buttons .change-note > .disabled {
  opacity: 0;
  cursor: default;
}
.measure-buttons .change-note > :not(.disabled):hover {
  opacity: 1;
}
.measure-buttons .add-note:hover {
  opacity: 1;
}
.measure-buttons .change-note > *:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: "‹";
  color: #000;
  font-size: 3rem;
}
.measure-buttons .change-note > .up:after {
  transform: translate(0.36em, 0.13em) rotate(90deg);
}
.measure-buttons .change-note > .down:after {
  transform: translate(-0.36em, -0.1em) rotate(-90deg);
}

.measure-buttons .play-bar {
  position: absolute;
  top: -10%;
  bottom: -10%;
  left: 50%;
  width: 0.5em;
  background-color: rgba(0, 255, 0, 0.6);
  z-index: 6;
}

.play-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn-play {
  background-color: transparent;
  color: transparent;
  border: none;
  aspect-ratio: 1;
  width: 3em;
  position: relative;
}
button.btn-play.disabled {
  opacity: 0;
}
button.btn-play.small {
  width: 2em;
}
button.btn-play:not(.disabled):after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "▶";
  font-size: 3em;
  color: #3f3;
  cursor: pointer;
}
button.btn-play.small:after {
  font-size: 2em;
}
button.btn-play.stop:after {
  content: "■";
  font-size: 5em;
  transform: translateY(-0.1em);
  color: #f00;
}
button.btn-play.hoverable {
  opacity: 0.2;
  transition: opacity 0.2 ease;
}
button.btn-play.hoverable:hover {
  opacity: 1;
}

input.repeat {
  display: none;
}
input.repeat + label {
  color: transparent;
  aspect-ratio: 1;
  width: 3em;
  position: relative;
}
input.repeat + label:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "⟳";
  font-size: 2.5em;
  color: #888;
  cursor: pointer;
}
input.repeat:checked + label:after {
  color: #3f3;
}
